.booklist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.booklist__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

.load_button {
    margin-bottom: 10px;
}