.header {
    display: flex;
    width: 100%;
    background-image: url("https://img.freepik.com/free-photo/book-stack-library-room-blurred-bookshelf-background_42691-514.jpg?w=2000");
    background-size: cover;
    background-position: center;
    height: 40vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}