.bookcard {
    background-color: #EAF6F6;
    width: 280px;
    min-height: 450px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    img {
        object-fit: cover;
        height: 180px;
        width: auto;
        margin: 10px
    }
    div {
        margin: 5px;
    }
}

.book__info {
    display: flex;
    flex-direction: column;
}

.book__category {
    color: gray;
    text-decoration: underline;
    height: 20px;
}

.book__title {
    min-height: 100px;
}

.book__authors {
    color: grey;
    height: 80px;
}